<div class="flex-widget-container box-shadow">
  <div class="widget-header ">
    Out of SLA Compliance
  </div>
  <div class="widget-body">
    <div class="text-div">
      <div class="text-count">1</div>
      <div class="text-label">Open</div>
    </div>
    <div class="text-div">
      <div class="text-count">39</div>
      <div class="text-label">Attempting</div>
    </div>
    <div class="text-div">
      <div class="text-count">19</div>
      <div class="text-label">Engaged</div>
    </div>
  </div>
</div>
<br/>
<div class="flex-widget-container box-shadow">
  <div class="widget-header ">
    Resource Center
  </div>
  <div class="widget-body">
    <div class="text-div">
      <div class="text-image">
        <img src="https://surfseqa.service-now.com/adr_gsd_hub.png" />
      </div>
      <div class="text-label">GSD Hub</div>
    </div>
    <div class="text-div">
      <div class="text-image">
        <img src="https://surfseqa.service-now.com/adr_gsd_playbook.png" />
      </div>
      <div class="text-label">GSD Playbook</div>
    </div>
    <div class="text-div">
      <div class="text-image">
        <img src="https://surfseqa.service-now.com/adr_tv.png" />
      </div>
      <div class="text-label">GSD TV</div>
    </div>
    <div class="text-div">
        <div class="text-image">
          <img src="https://surfseqa.service-now.com/adr_my_account.png" />
        </div>
        <div class="text-label">My Accounts</div>
      </div>
  </div>
</div>
