<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="">menu</mat-icon>
    <span class="title">{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="flex-container">
   
    <div class="left-container box-shadow">
  <mat-tab-group>
    <mat-tab label="Working Leads"> 
        <app-table (showCount) = "showCountValue($event)" [fields]="leadFields" [table]="'lead'" [type]="0" [filter]="leadFilter"></app-table>
    </mat-tab>
    <mat-tab label="Leads to Disposition">
        <app-table [fields]="leadFields" [table]="'lead'" [type]="1" [filter]="leadFilter"></app-table> 
    </mat-tab>
    <mat-tab label="Follow Up Activities"> 
        <app-table [fields]="activityFields" [table]="activityTableName" [type]="" [filter]="activityFilter"></app-table>  
    </mat-tab>
    <mat-tab label="Deal Registration"> 
        <app-table [fields]="leadFields" [table]="'lead'" [type]="3" [filter]="leadFilter"></app-table> 
    </mat-tab>
    <mat-tab label="Prospecting Queue"> 
        <app-table [fields]="leadFields" [table]="'lead'" [type]="4" [filter]="leadFilter"></app-table>
    </mat-tab>
  </mat-tab-group>
  </div>
  <div class="right-container">
     <app-widget></app-widget>
  </div>
</div>